body {
    background-image: url('../../images/space2.gif');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

/* Header and Navigation */
header.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Arial, sans-serif;
  font-size: 2em;
}

.navbar a {
  color: #fff7d2;
  text-decoration: none;
  font-size: 1em;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: color 0.5s ease;
}

.navbar a:hover {
  color:#ffd000; /* change color on hover */
}

.navbar a.active {
  border-bottom-color: #ffd000; /* underline active link */
}

h1{
    font-size: 3.5em;
    color: #bce4dd;
    text-align: center;
    margin-top: 20px;
}  
li{
    font-size: 1.2em;
    color: #f9f9ff;
    margin-top: 10px;
}
a{
    font-size: 1em; 
    color: #5ad0ff; 
    text-align: center; 
    margin-top: 10px; 
}
p{
    font-size: 1.5em;
    color: #bce4dd;
    text-align: center;
    margin-top: 10px;
}  
.image-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.image-row img {
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease;
}