h1{
    font-size: 3.5em;
    color: #000000;
    text-align: left;
    margin-top: 20px;
}
li{
    font-size: 1.2em;
    color: #d63535;
    margin-top: 10px;
}
a{
    font-size: 1em; 
    color: #ffee06; 
    text-align: center; 
    margin-top: 10px; 
}
p{  
    font-size: 1.5em;
    color: #000000;
    text-align: left;
    margin-top: 10px;
}