body {
    background-image: url('../../images/deepsea1.gif');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

/* Header and Navigation */
header.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
}

.navbar a {
  color: #fff7d2;
  text-decoration: none;
  font-size: 1em;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: color 0.5s ease;
}

.navbar a:hover {
  color:#ffd000; /* change color on hover */
}

.navbar a.active {
  border-bottom-color: #ffd000; /* underline active link */
}

/* Headings and Paragraphs */
h1 {
    font-size: 3.5em;
    color: #fff7d2;
    margin-top: 20px;
}

p {
    font-size: 1.5em;
    color: #bce4dd;
    margin-top: 10px;
}

li {
    font-size: 1.2em;
    color: #0c9eff;
    margin-top: 10px;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.box {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

/* Image Classes to Replace Inline Styles */
.img-auto {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.img-fixed-width {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.img-fixed-height {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 300px;
}
