h1{
    font-size: 3.5em;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}  
li{
    font-size: 1.2em;
    color: #9b30b1;
    margin-top: 10px;
}
.a{
    font-size: 1em; 
    color: #a5b15f; 
    text-align: center; 
    margin-top: 10px; 
}
p{  
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}